@import url('https://fonts.googleapis.com/css?family=Poppins');

.individualCard {
    padding: 14px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    cursor: pointer;

}

.individualCard h4 {
    line-height: 30px;
    font-size: 22px;
    color: #275140;
    font-family: 'Poppins', sans-serif;
}

.individualCard p {
    text-align: center;
    font-size: 14px;
    /* color: #a3b7a3; */
    color: #a38d66;
    margin-top: 3px;
}

.individualCard div {
    width: 160px;
}

.individualCard div img {
    width: 100%;
}