.addressWrapper {
    padding: 18px 20px;
    font-family: "Poppins", sans-serif;
}

.stepSection {
    padding: 25px;
    background: #ffffff;
    border-radius: 12px;
    margin-bottom: 20px;
    border: 1px solid #d5e5d5;
    position: relative;
}


.stepTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #275140;
    border-left: 4px solid #d5e5d5;
    padding-left: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form input {
    /* padding: 12px 14px; */
    padding:11px 14px;
    border: 1px solid #d5e5d5;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    outline: none;
    width: 100%;
}

.form input:focus {
    border-color: #648364;
    box-shadow: none;
}

.saveBtn {
    margin-top: 10px;
    padding: 5px 16px;
    background: #275140;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.saveBtn:hover {
    background: #153a2b;
}

.confirmText {
    font-size: 12px;
    position: absolute;
    right: 28px;
    top: 32px;
    color: #f00;
}

.selectInput {
    /* padding: 12px 14px; */
    padding: 11px 14px;
    border: 1px solid #d5e5d5;
    border-radius: 8px;
    font-size: 14px;
    background: #fdfdfd;
    transition: all 0.2s ease-in-out;
    outline: none;
    width: 100%;
}

.selectInput:focus {
    border-color: #648364;
    box-shadow: 0 0 0 2px rgba(39, 81, 64, 0.2);
}