@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,500,700");

.megaMenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: #fff;
  padding: 2rem 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  font-family: "Raleway", sans-serif;
}

.submenuItem {
  display: block;
  padding: 0.25rem 0;
  color: #0b6340;
  text-decoration: none;
  font-size: 0.95rem;
  transition: all .2s ease-in-out;
}

.submenuItem:hover {
  /* color: #a3a1a1; */
  color: #c2a878;
  transform: translateX(10px);
  cursor: pointer;
}

.megaMenuNav {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;

  color: #275140;
}

.newLaunch {
  position: relative;
}

.newLaunch::after {
  content: '';
  height: 45px;
  width: 45px;
  background-image: url(/images/newArrival.png);
  position: absolute;
  left: -19px;
  top: -15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}