.mightLikeProducts {
    margin-top: 30px;
    position: relative;
}

.text {
    font-size: 28px;
    text-align: center;
    color: #275140;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    position: relative;
}

.text::after {
    content: '';
    height: 50px;
    width: 137px;
    position: absolute;
    bottom: -29px;
    left: 46%;
    background-repeat: no-repeat;
    background-image: url(/images/borderBottom.png);
    background-position: center;
    background-size: contain;
}

.viewAll {
    position: absolute;
    top: 60px;
    right: 6px;
    background-color: #f97316;
    font-size: 14px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    color: #fff;
    border-radius: 2px;
    padding: 3px 16px;
}